.ball{
    background-color: rgb(6, 107, 238);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 0px;

}

@keyframes jumping {
    from{
        top: 0px;
    }
    to {
        top:100px;
    }
}